# Auto detect text files and perform LF normalization
* text=auto eol=lf

# 特定のファイルタイプの設定
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf

# バイナリファイルの設定
*.png binary
*.jpg binary
*.gif binary
